<h1><%= @post[:title] %></h1>
<% if @post[:tags].count > 0 %>
  <div class="tags">
    Tagged: 
    <% @post[:tags].each do |tag| %>
      <a href="/tags/<%= tag %>.html"><%= tag %></a> 
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>
<div class="date"><%= @post[:formatted_date] %></div>
<div class="post-content">
  <%= @post[:content] %>
  <% idx = @all_posts.index(@post) %>
  <% if idx %>
    <% next_idx = (idx+1) % @all_posts.length %>
    <% next_post = @all_posts[next_idx] %>
    <div class="read_next">Read next: <a href="/posts/<%= next_post[:filename] %>"><%= next_post[:title] %></a></div>
  <% end %>
</div>
